
<strong>A Modifier en fonction des champs à remplir</strong>

<% ["javascript", "rails", "php", "ios", "html/css", "angularJs", "Python", "Android",
"Mysql", "Wordpress", "Xcode", "Java", "C", "Node.js", "asp.net", "bootstrap", "shopify",
"github", "go", "heroku", "raect", "MongoDb", "Magento", "postgresql", "ruby", "SEO",
"UX/UI"].each do |i| %>
  <<p>i</p>

<% end %>
