<h1>MentorProfils#edit</h1>
<h1>MentorProfils#index</h1>
<% @mentor_profils.each do |mentor_profil| %>
  <h2><%= mentor_profil.experience %></h2>
  <p><%= mentor_profil.minimum_price %></p>

<% end %>
