.main-container {
  display: flex;
}

.left-panel.status-open .status-item.tab-open {
  background-color: #D23333;
  font-weight: lighter;
}

.left-panel.status-pending .status-item.tab-pending {
  background-color: #D23333;
  font-weight: lighter;
}

.left-panel.status-closed .status-item.tab-closed{
  background-color: #D23333;
  font-weight: lighter;
}

.left-panel.status-cancelled .status-item.tab-cancelled {
  background-color: #D23333;
  font-weight: lighter;
}

.left-panel {
  background-color: #333333;
  color: white;
  flex-basis: 200px;
  position: sticky;
  top: 10px;
}

.right-panel {
  flex-grow: 1;
}


.status-item {
  height: 90px;
  display: flex;
  align-items: center;
  border: 1px solid black;
}

.status-item-text {

  a {
    color: white;
    text-decoration: none;
    padding-left: 20px;
  }
}






