.main-container {
  display: flex;
}

.left-panel.status-open .status-item.tab-open {
  background-color: #D23333;
  font-weight: lighter;
}

.left-panel.status-pending .status-item.tab-pending {
  background-color: #D23333;
  font-weight: lighter;
}

.left-panel.status-closed .status-item.tab-closed{
  background-color: #D23333;
  font-weight: lighter;
}

.left-panel.status-cancelled .status-item.tab-cancelled {
  background-color: #D23333;
  font-weight: lighter;
}

.left-panel {
  background-color: #fcfcfc;
  color: black;
  flex-basis: 200px;
  position: sticky;
  top: 10px;
  -webkit-box-shadow: 0 1px 3px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.04);
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.04);
    -webkit-transition: box-shadow .3s ease-in-out;
    transition: box-shadow .3s ease-in-out;
}

.right-panel {
  flex-grow: 1;
}


.status-item {
  height: 90px;
  display: flex;
  align-items: center;
}

.status-item-text {

  a {
    color: black;
    text-decoration: none;
    padding-left: 20px;
  }
}






