.main-container {
  display: flex;
  margin-top: 20px;
}

.left-panel.status-open .status-item.tab-open {

  font-weight: lighter;
  border-right: 3px solid #db5d5d;
}

.left-panel.status-pending .status-item.tab-pending {

  font-weight: lighter;
  border-right: 3px solid #db5d5d;
}

.left-panel.status-closed .status-item.tab-closed{

  font-weight: lighter;
  border-right: 3px solid #db5d5d;
}

.left-panel.status-cancelled .status-item.tab-cancelled {

  font-weight: lighter;
  border-right: 3px solid #db5d5d;
}

.sticky-list {
  position: sticky;
  top: 90px;
  background-color: #fcfcfc;
  list-style: none;
  padding: 0;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.04);
}

.left-panel {
  color: black;
  flex-basis: 200px;
  flex-shrink: 0;
  transition: box-shadow .3s ease-in-out;
}

.right-panel {
  flex-grow: 1;
}


.status-item {
  height: 90px;
  display: flex;
  align-items: center;
}

.status-item-text {

  a {
    color: black;
    text-decoration: none;
    padding-left: 20px;
  }
}






