<footer class="bg-dark">
  <div class="container">
    <div class="flexbox">
      <div>© 2018 Open a ticket, Inc.</div>


      <ul class="list-inline">
        <li><i class="fab fa-facebook-f text-gray-hover footer-icon-size"></i></li>
        <li><i class="fab fa-twitter text-gray-hover footer-icon-size"></i></li>
        <li><i class="fab fa-github text-gray-hover footer-icon-size"></i></li>
      </ul>

      <div>
        <a class="no-deco footer-font-size text-gray-hover font-weight-light ml-1" href="#">Terms</a>
        <a id="privacy" class="no-deco footer-font-size text-gray-hover font-weight-light ml-1" href="#">Privacy Policy</a>
        <a class="no-deco footer-color footer-font-size text-gray-hover font-weight-light ml-1" href="#">About</a>
      </div>
    </div>
  </div>
</footer>
