<footer class="bg-dark fixed-bottom">
<div class="width-90 marginx-auto d-flex justify-content-between align-items-center">

  <p class="p-3 font-15 font-weight-light footer-color">© 2018 Open a ticket, Inc.</p>

  <div class= "flex-box space-between">
    <i class="fab fa-facebook-f text-white font-15 ml-5"></i>
    <i class="fab fa-twitter text-white font-15 ml-5"></i>
    <i class="fab fa-github text-white font-15 ml-5"></i>
  </div>

  <div class="flex-box space-between">
    <a class="no-deco footer-color font-15 mr-4 active-footer-color" href="#">Terms</a>
    <a class="no-deco footer-color font-15 mr-4active-footer-color" href="#">Privacy Policy</a>
    <a class="no-deco footer-color font-15 mr-4active-footer-color" href="#">About</a>
  </div>

</div>
</footer>
