
<footer class="bg-dark ">
<div class="width-90 marginx-auto d-flex justify-content-between align-items-center p-3">
<footer class="bg-dark static-bottom w-100 mt-4">
<div class="width-90 marginx-auto p-3">

  <div class="row justify-content-between align-items-center mx-auto">
    <p class="p-3 footer-font-size font-weight-light text-gray col">© 2018 Open a ticket, Inc.</p>

    <div class= "flex-box space-between col flex-grow nowrap text-center">
      <a class="ml-4 ml-2 reset-margin">
        <i class="fab fa-facebook-f text-gray-hover footer-icon-size"></i>
      </a>
      <a class="ml-4 ml-2 reset-margin">
        <i class="fab fa-twitter text-gray-hover footer-icon-size"></i>
      </a>
      <a class="ml-4 ml-2 reset-margin">
        <i class="fab fa-github text-gray-hover footer-icon-size"></i>
      </a>
    </div>

    <div class="d-flex justify-content-around col">
      <a class="no-deco footer-font-size text-gray-hover font-weight-light ml-1" href="#">Terms</a>
      <a id="privacy" class="no-deco footer-font-size text-gray-hover font-weight-light ml-1" href="#">Privacy Policy</a>
      <a class="no-deco footer-color footer-font-size text-gray-hover font-weight-light ml-1" href="#">About</a>
    </div>
  </div>

</div>
</footer>
