<nav class="navbar sticky-topnavbar-expand-lg bg-primary">
    <div class="flex_box width-90 space-between marginx-auto">

      <div class="logo_part">
        <a id="logo" href="#">
          <i class="fas fa-ticket-alt font-30 text-white"></i>
        </a>
      </div>

      <div class="flex_box space-between">

        <a href="#" class="btn-open font-20 text-white" id="open_btn">Open a ticket</a>

        <!-- avatar -->
        <div class="p-2 text-white font-20 ml-2"><i class="fas fa-circle"></i></div>
        <!-- avatar -->

        <div class="dropdown">
          <button class="btn btn-primary dropdown-toggle" type="button" id="control" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-user font-15 text-white"></i>
          </button>
          <div class="dropdown-menu" aria-labelledby="control">
            <a class="dropdown-item" href="#">Dashboard</a>
            <a class="dropdown-item" href="#">Settings</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Log out</a>
          </div>
        </div>
      </div>

    </div>
</nav>
