<div class="reviewscard">
  <% if reviews.blank? %>
    <p>No review yet</p>
  <% else %>
    <% reviews.each do |review| %>
      <div class="reviewcard">
        <%= image_tag(review.ticket.alumni.pic_url, class: 'avatar') %>
        <div class="reviewcard-content">
          <div class="reviewcard-rating">
            <% 5.times do |i| %>
              <i class="fas fa-star <%= 'active' if review.rating > i %>"></i>
            <% end %>
          </div>
          <%= review.description %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
