<div class="d-flex justify-content-center">

      <div class="ticket">
        <form>
          <div class="form-group">
            <label for="subject">What exactly are you trying to accomplish ?</label>
            <input type="text" class="form-control" id="subject" placeholder="Build an app, learn a skill...">
          </div>
          <div class="form-group">
            <label for="description">Why do you need a mentor</label>
            <textarea class="form-control" id="description" placeholder="Create a website, add geolocation to a website..."></textarea>
          </div>
          <div class="input-group mb-3">
            <div class="custom-file">
              <input type="file" class="custom-file-input" id="inputGroupFile01" value="Upload">
              <label class="custom-file-label" for="inputGroupFile01">Any file ?</label>
            </div>
          </div>
          <div class="form-group">
            <label for="inputState">Which languages will you be using</label>
            <select id="inputState" class="form-control">
              <option selected>Languages</option>
              <option>HTML</option>
              <option>CSS</option>
              <option>Javascript</option>
              <option>Ruby</option>
            </select>
          </div>

          <div class = "d-flex justify-content-center flex-column">
            <div class = "d-flex justify-content-center">
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                <label class="form-check-label" for="inlineCheckbox1">HTML</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
                <label class="form-check-label" for="inlineCheckbox2">CSS</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3">
                <label class="form-check-label" for="inlineCheckbox3">Javascript</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="inlineCheckbox4" value="option4">
                <label class="form-check-label" for="inlineCheckbox4">Ruby</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="inlineCheckbox5" value="option5">
                <label class="form-check-label" for="inlineCheckbox5">PHP</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="inlineCheckbox6" value="option6">
                <label class="form-check-label" for="inlineCheckbox6">Others</label>
              </div>
            </div>
            <button type="submit" class="btn btn-secondary mt-3">Send</button>

          </div>
        </form>
      </div>

    </div>
