<div class="bg-clear">
  <div class="no-repeat">
    <div class="container-fluid">

      <div class="banner marginx-auto flex_box space-around">
        <%= image_tag "logo.png", class: "logo-size", id: "logo-wagon" %>

        <div class="row w-50 flex_box column center">
          <h1 id ="typed2" class="col-12 col-md display-7 text-black text-light mb-3">FIND A MENTOR!</h1>

          <a href="/tickets/new" class="btn btn-primary btn-large text-white mb-3 open-pop-up">Open a ticket</a>
            <div class="pop-up hidden">
              <h3 class="instructions">Explain us what are your needs and get matched with a mentor.</h3>
            </div>

          <a href="/mentor_profils/new" style="text-decoration: underline;">or become a mentor</a>
        </div>
      </div>

      <!-- <div class="bg-white width-100"> -->
        <!-- <div class="container"> -->
          <div class="cards">
            <div class="card jump cover text-white" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('https://learntocodewith.me/wp-content/uploads/2017/04/helloquence-61189-1024x683.jpg')">
              <p>EXPLAIN</p>
              <p>YOUR</p>
              <p>PROBLEM</p>
            </div>
            <div class="card jump cover text-white" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('http://tomtunguz.com/images/codementorio.jpg">
              <p>FIND</p>
              <p>A</p>
              <p>MENTOR</p>
            </div>
            <div class="card jump cover text-white" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('https://images.unsplash.com/photo-1497493292307-31c376b6e479?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=428468d8a8b3842450b4f54a173f2622&auto=format&fit=crop&w=1051&q=80')">
              <p>SHARE</p>
              <p>YOUR</p>
              <p>MISSION</p>
            </div>
          </div>
        <!-- </div> -->
      <!-- </div> -->

            <div class="container-bg">
            <div class="big-card cover margin-bottom" style="background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.3)), url(<%= @image %>)">
              <i class="fas fa-quote-left"></i>
              <h3 class="mentor-quote text-light"></h3>
              <i class="fas fa-quote-right"></i>
            </div>
            </div>

      <div id="map" class="map-style marginx-auto" style="margin-bottom: 5rem;"></div>

    </div>
  </div>
<div>

</div>
</div>
