<div class="bg-clear">
  <div class="no-repeat">
    <div class="container">

      <div class="banner marginx-auto flex_box space-around">
        <%= image_tag "logo.png", class: "logo-size" %>

        <div class="row w-50 flex_box column center">
          <h1 id ="typed2" class="col-12 col-md display-7 text-black text-light mb-3">FIND A MENTOR!</h1>
          <a href="/tickets/new" class="btn-open btn-large text-white mb-3">Open a ticket</a>
          <a href="/mentor_profils/new" style="text-decoration: underline">or become a mentor</a>
        </div>
      </div>

      <div class="container">
        <div class="cards">
          <div class="card jump cover text-white" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('https://images.unsplash.com/photo-1512238972088-8acb84db0771?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=727880ca94d83b3dd33fcd308dc0092a&auto=format&fit=crop&w=800&q=60')">
            <p>EXPLAIN</p>
            <p>YOUR</p>
            <p>PROBLEM</p>
          </div>
          <div class="card jump cover text-white" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('https://images.unsplash.com/photo-1508834502622-104c19db10d9?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=1fd71ef08d76eaefec42ef017ba09f20&auto=format&fit=crop&w=800&q=60')">
            <p>FIND A</p>
            <p>MENTOR</p>
          </div>
          <div class="card jump cover text-white" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('https://images.unsplash.com/photo-1499249218963-a128113cd82c?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=ce79fabad4b4939f5f214dd03d0e8994&auto=format&fit=crop&w=800&q=60')">
            <p>SHARE</p>
            <p>YOUR</p>
            <p>MISSION</p>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="big-card cover" style="background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.3)), url(<%= @image %>)">
          <i class="fas fa-quote-left"></i>
          <h3 class="mentor-quote text-light"></h3>
          <i class="fas fa-quote-right"></i>
        </div>
      </div>

      <div class="testimonies">

        <hr class="to-separate">

        <div class="testimony">
          <img class="avatar" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQHUOT512ZkPVTb79g_otKrVQZ9DfMB3twLTE6OFwPho6e2jYqj" alt="">
          <i class="fas fa-quote-left"></i>
          <p>MY MENTOR, KEVIN HELPED ME FINISH MY WORK, IT WAS SO GOOD MY BOSS GAVE ME A PROMOTION</p>
          <i class="fas fa-quote-right"></i>
        </div>

        <hr class="to-separate">

        <div class="testimony">
          <img class="avatar" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQHUOT512ZkPVTb79g_otKrVQZ9DfMB3twLTE6OFwPho6e2jYqj" alt="">
          <i class="fas fa-quote-left"></i>
          <p>MY MENTOR, KEVIN HELPED ME FINISH MY WORK, IT WAS SO GOOD MY BOSS GAVE ME A PROMOTION</p>
          <i class="fas fa-quote-right"></i>
        </div>

        <hr class="to-separate">

        <div class="testimony">
          <img class="avatar" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQHUOT512ZkPVTb79g_otKrVQZ9DfMB3twLTE6OFwPho6e2jYqj" alt="">
          <i class="fas fa-quote-left"></i>
          <p>MY MENTOR, KEVIN HELPED ME FINISH MY WORK, IT WAS SO GOOD MY BOSS GAVE ME A PROMOTION</p>
          <i class="fas fa-quote-right"></i>
        </div>

      </div>

      <div id="map" class="map-style marginx-auto" style="margin-bottom: 5rem"></div>

    </div>
  </div>
<div>

</div>
</div>
