<div class="selected-mentor">
  <h2>Selected mentor</h2>
    <div class="selected-mentor-container">
      <% if order.state = "pending" %>
       <!-- if mon paiement n'est pas effectué, j'affiche la carte et l'invoice -->

       <% else %>


        <!-- il faut afficher une carte du mentor + card invoice -->


        <!-- Sinon selected mentor+ details -->





</div>
