<div class="container">
  <div class="bigticketcard-container">
    <%= render 'shared/bigticketcard', ticket: @ticket %>
  </div>


  <% if @ticket.mentor.blank? %>
    <div class="recommanded-mentors-container">
      <h2><%= @match_mentors_list.count %> mentors are matching your ticket</h2>
      <%= render 'recommanded_mentors', mentors: @match_mentors_list %>
    </div>
  <% else %>
    <div class="selected-mentor-container">
      <h2>Your have selected this mentor</h2>
      <%= render 'selected-mentor', mentor: @ticket.mentor, order: @order %>
    </div>
  <% end %>
