<!-- app/views/payments/new.html.erb -->

<div class="container">
  <div class="row">
    <%= render 'shared/bigticketcard', ticket: @ticket %>
  </div>
  <div class="row">
    <div class="col-xs-6">
  <%= render 'shared/square-card-mentor', mentor: @mentor %>
  </div>
  <div class="col-xs-6">
    <%= render 'shared/card-invoice', order: @order %>
  </div>
</div>
