/* -------------------------------------
 * Your CSS code for flash notices and alerts
* ------------------------------------- */

.alert {
  margin: 0;
  text-align: center;
  // color: white;
}
.alert-info {
  background: $flash-success-color;
  color: darken($flash-success-color, 30%);
  // opacity: 0.4;
}
.alert-warning {
  background: $flash-alert-color;
  color: darken($flash-alert-color, 50%);
}
