.top-0 {
  top: 0;
}

.z-last {
  z-index: -1;
}

.bg-logo {
  background-image: asset-url("logo");
}

.hundred-viewport {
  height: 100vh;
}

.no-repeat {
  background-repeat: none;
}

.cover {
  background-size: cover;
  background-position:  center;


}

.display-8 {
  font-size: 13rem;
  font-weight: lighter;
}

.display-7 {
  font-size: 5rem;
  @media screen and (max-width: "800px") {
    font-size: 3.5rem;
  }
}

.button {
  display: flexbox;
  justify-content: center;
  padding: 20px 0;
}

.bg-clear {
  background-image: linear-gradient(to right top, #ffffff, #fbfbfb, #f7f7f7, #f3f3f3, #efefef);;
}

.display-6 {
  font-size: 5rem;
}

.text-light {
  font-weight: lighter;
}

.height-12 {
  height: 6rem;
}

.mt-10 {
  margin-top: 10rem;
}

.roundish {
  border-radius: 15px;
}

.logo-size {
  width: 250px;
  height: 250px;
}

.self-center {
  align-self: center;
}

.column {
  flex-direction: column;
}

.center {
  justify-content: center;
  align-items: center;
}

.h-100 {
  height: 100%;
}

.mb-3 {
  margin-bottom: 15px;
}

.banner {
  height: calc(100vh - 70px);
}
