.bigcard {
  margin-top: 2em;
  background-color: #fcfcfc;
  position: relative;
  padding: 2em 2em 2em 2em;
  border-radius: 3px;
  -webkit-box-shadow: 0 1px 3px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.04);
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.04);
    -webkit-transition: box-shadow .3s ease-in-out;
    transition: box-shadow .3s ease-in-out;
  border-left: 3px solid lighten($brand-primary, 10%);

  h1 {
    margin-top: 0;
    font-size: 2em;
  }

  .bigcard:hover {
  background-color: white;
  opacity: 0.9;
  box-shadow: 0 0 35px rgba(50,50,93,.2);
}

  .informations {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .bigcard-flag {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .secondary-title {
    display: inline-block;
    margin: 0 1em 0 0;
    width: 150px;
  }

  .flag-icon {
    margin-right: 0.5em;
  }

  .ticket-content {
    margin: 2em 0 3em;
  }

  .skills {
    margin-bottom: 2em;
  }

  .created-at {
    margin: 0;
  }

  .price {
    font-size: 1.2em;
    text-align: right;
  }

  .skill {
    background-color: #efefef;
    display: inline-block;
    color: black;
    margin-right: 5px;
    padding: 10px 10px;
    height: 40px;
    border-radius: 5px;

    p {
      font-size: 14px;
      opacity: 0.7;
      font-weight: lighter;
      color: black;
      white-space: nowrap;
    }
  }
}


