.bigcard {
  margin-top: 2em;
  position: relative;
  border-left: 3px solid lighten($brand-primary, 10%);
  margin-bottom: 20px;

  h1 {
    margin-top: 0;
    font-size: 2em;
  }

  .bigcard:hover {
  background-color: white;
  opacity: 0.9;
  box-shadow: 0 0 35px rgba(50,50,93,.2);
}

  .informations {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .bigcard-flag {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .secondary-title {
    display: inline-block;
    margin: 0 1em 0 0;
    width: 150px;
  }

  .flag-icon {
    margin-right: 0.5em;
  }

  .ticket-content {
    margin: 2em 0 3em;
  }

  .skills {
    margin-bottom: 2em;
  }

  .created-at {
    margin: 0;
  }

  .price {
    font-size: 1.2em;
    text-align: right;
  }
}


