.bigcard {
  background-color: #EAEAEA;
  height: 200px;
  position: relative;
  margin-top: 10px;
}

.bigcard-avatar img {
  position: absolute;
  left: 10px;
  top: 10px;
  width: 70px;
  border-radius: 50%;
}

.bigcard-date {
  position: absolute;
  display: block;
  top: 50%;
  left: 10px;
  font-size: 10px;
  text-transform: uppercase;
}

.bigcard-title {
  position: absolute;
  left: 40%;
  top: 20px;
  max-width: 200px;
}

.bigcard-content {
  position: absolute;
  left: 27%;
  max-width: 250px;
  top: 30%;
  background-color: #fafafa;
  min-height: 100px;
  min-width: 350px
}

.bigcard-flag {
  position: absolute;
  right: 10px;
  top: 10px;
}

.bigcard-price {
  position: absolute;
  display: block;
  align-items: center;
  top: 40%;
  right: 10px;
}

.bigcard-skills {
 position: absolute;
 left: 320px;
 bottom: 2px;
 display: flex;
 align-items: center;
 max-width: 600px;
}

.skill {
 background-color: white;
 color:black;
 margin-right: 5px;
 padding: 10px 10px;
 p{
  font-size: 14px;
  opacity: 0.7;
  font-weight: lighter;
  color: black;
 }
}


