.card-invoice {
  background-position: center;
  color: black;
  background-color: #FFFFFF;
  border: 1px solid #EAEAEA;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 3px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.04);
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.04);
    -webkit-transition: box-shadow .3s ease-in-out;
    transition: box-shadow .3s ease-in-out;
    outline: none;
    height: 398px;
  p {

  opacity: 0.7;
  font-weight: lighter;

  }
  h2 {
    font-size: 24px;
      font-weight: lighter;

  }

  .button {
    padding: 20px;
  }
}

.card-invoice:hover {
  background-color: white;
  opacity: 0.9;
  box-shadow: 0 0 35px rgba(50,50,93,.2);
}

.card-invoice-title {
  position: relative;
  border-bottom: 1px solid #f4f4f4;
  margin-right: 20px;
  margin-left: 20px;
    p {
    position: absolute;
    left: 20px;
  }
    h2 {
    text-align: center;
   }
}

.card-invoice-body {
  margin-top: 20px;
  border-bottom: 1px solid #f4f4f4;
  margin-right: 20px;
  margin-left: 20px;
  padding-bottom: 20px;
  article {
     margin: 62px 0px;
  }

      p {
    margin: 0;
  }
}
.card-invoice-price {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
}

.stripe-checkout {
  position: relative;
  width: 100%;

  button {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    width: 100%;
    bottom: 0;
  }
}
