.contactcard {
  border-top: 1px solid #EAEAEA;
  margin-top: 40px;
}

.contactcard-title {
  margin-top: 30px;
}

.concontactcart-contact {
  padding-top: 30px;
  padding-left: 50px;
 p {
  padding-bottom: 15px;
  }
}


.contactcard-tools {
  margin-bottom: 20px;
}

.fa-envelope{
  margin-right: 20px;
  }

.fa-phone {
  margin-right: 20px;
}

.atom {
  width: 50px;
  height: 50px;
  color: $brand-primary;
}

.fa-skype {
  width: 50px;
  height: 50px;
}
