.h-3 {
  height: 30px;
}

.mt-0 {
  margin-top: 0;
}

.pb-3 {
  padding-bottom: 3rem;
}

.m-0 {
  margin: 0;
}

.mt-2 {
  margin-top: 1.5rem;
}

.p-10 {
  padding: 10rem;
}

.w-1 {
  width: 10px;
}

.container-bg {

  height: 100vh;
}

.cards {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
  background-color: white;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  margin: 10px;
  height: 300px;
  word-wrap: normal;
  padding: 50px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  font-weight: 100;
  opacity: 0.9;

  &:hover {
    opacity: 1;
  }
}

.jump:hover {
  margin-top: 4px;
}

.border-rounded {
  border-radius: 5px;
}

.eighty-viewport {
  height: 80vh;
}

.bg-gradient {
background-image: linear-gradient(to right top, #ffffff, #f2f2f2, #e4e4e4, #d7d7d7, #cacaca);
}

.width-10 {
  width: 10%;
}
