.long-ticket-card {
  height: 220px;
  background-position: center;
  position: relative;
  color: black;
  background-color: #fcfcfc;
  margin-bottom: 20px;
  padding: 2em 2em 2em 2em;
  border-radius: 3px;
  -webkit-box-shadow: 0 1px 3px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.04);
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.04);
    -webkit-transition: box-shadow .3s ease-in-out;
    transition: box-shadow .3s ease-in-out;
  margin-left: 20px;

}

;.long-card:hover {
  background-color: white;
  opacity: 0.9;
  box-shadow: 0 0 35px rgba(50,50,93,.2);
}

.long-card-user {
  position: absolute;
  left: 10px;
  top: 51px;
  width: 60px;
  border-radius: 50%;
}

.long-card-created {
  position: absolute;
  left: 84px;
  top: 67px;
  p{
  font-size: 14px;
  opacity: 0.7;
  font-weight: lighter;
  color: black;
  margin:-3px;
  }
  h2{
    font-size: 24px;
    color: black;
  }
}

.long-card-description {
  position: absolute;
  left: 320px;
  top: -15px;
  max-width: 400px;

  p{
  font-size: 14px;
  opacity: 0.7;
  font-weight: lighter;
  color: black;
  max-height: 55px;
  overflow: hidden;
  text-overflow: clip;
  }
  h2{
    font-size: 24px;
    color: black;
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 55px;
    margin-bottom: 5px;
  }
  a{
    text-decoration: none;
    color: black;

  }
}

.long-card-skills {
  position: absolute;
  left: 320px;
  bottom: 5px;
  display: flex;
  align-items: center;

}

.skill {
    background-color: #efefef;
    display: inline-block;
    color: black;
    margin-right: 5px;
    padding: 10px 10px;
    height: 40px;
    border-radius: 5px;
  p {
    font-size: 14px;
    opacity: 0.7;
    font-weight: lighter;
    color: black;
    white-space: nowrap;

  }
}

.long-card-price {
  position: absolute;
  right: 5px;
  top: 90px;
  p {
    font-size: 14px;
    opacity: 0.7;
    font-weight: lighter;
    color: black;
  }
}
.long-card-flag {
  position: absolute;
  top: 5px;
  right: 10px;
}
