.width-90 {
  width: 90%;
}

.marginx-auto {
  margin: 0 auto;
}

.min-width-30 {
  min-width: 30%;
}

.flex_box {
  display: flex;
}

.font-30 {
  font-size: 30px;
}

.font-20 {
  font-size: 20px;
}

.space-between {
  justify-content: space-between;
  align-items: center;
}

.space-around {
  justify-content: space-around;
  align-items: center;
}

.bg-darky {
  background-color: rgb(0,0,0);
}

.opacity {
  opacity: 0.85;
}

.navbar .avatar {
  height: 35px;
  width: 35px;
  border-radius: 50%;
}

.navbar {
  margin-bottom: 0;
}
