.width-90 {
  width: 90%;
}

.marginx-auto {
  margin: 0 auto;
}

.min-width-30 {
  min-width: 30%;
}

.flex_box {
  display: flex;
}

.font-30 {
  font-size: 30px;
}

.font-20 {
  font-size: 20px;
}

.space-between {
  justify-content: space-between;
  align-items: center;
}

.space-around {
  justify-content: space-around;
  align-items: center;
}

.btn-open {
  padding: 7px;
  background-color: gray;
  border-radius: 5px;
  text-decoration: none;
  font-size: 15px;
}

.navbar {
  margin-bottom: 0;
}
