.reviewcard {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1em;
  min-height: 55px;
}

.reviewcard-content {
  flex-grow: 1;
  margin-left: 1em;
}

.reviewcard .avatar {
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.modal-body, .modal-header {
  padding: 1.5em;
}
