.square-mentor-card {
  // height: 300px;
  background-position: center;
  color: black;
  background-color: #fcfcfc;
  border: 1px solid #EAEAEA;
  border-radius: 4px;
  box-shadow: 0 0 20px rgba(50,50,93,.1);
  p {

  opacity: 0.7;
  font-weight: lighter;

  }
  h2 {
    font-size: 24px;
      font-weight: lighter;

  }
}

.square-mentor-card:hover {
  background-color: white;
  opacity: 0.9;
  box-shadow: 0 0 35px rgba(50,50,93,.2);
}

.square-mentor-card-title {
  position: relative;
  border-bottom: 1px solid #f4f4f4;
  margin-right: 20px;
  margin-left: 20px;
    p {
    position: absolute;
    left: 20px;
  }
    h2 {
    text-align: center;
   }
}

.square-mentor-card-body {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-bottom: 1px solid #f4f4f4;
  margin-right: 20px;
  margin-left: 20px;
  padding-bottom: 20px;
  p {
    margin: 0;
  }
}

.square-mentor-card-user {
  width: 110px;
  border-radius: 50%;
}

.square-mentor-card-skills {
  display: flex;
  align-items: center;
  justify-content: center;
   .skill {
    display:flex;
    align-items: center;
    margin-right: 5px;
    height: 30px;
    border-radius: 5px;
    border: 0.8px solid #f4f4f4;
    p {
      font-size: 14px;
      opacity: 0.7;
      font-weight: lighter;
      color: black;
      white-space: nowrap;
      margin: 0;
    }
  }
}

.square-mentor-card-reviews {
  display: flex;
  justify-content: flex-end;
  padding-top: 3px;
    p {
    padding-right: 20px;
    padding-left: 10px;
    margin: 0;
  }
}

.square-mentor-card-reviews-stars {
   li {
    font-weight: lighter;
  }
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.modal-header .mentor-card-user {
  border-radius: 50%;
  height: 60px;
}

.modal-title {
  flex-grow: 1;
  text-align: center;
}


.red-onglet{
  color: red;
}
