.state {
  height: 70px;
  background: #e9ecef;
  display:flex;
  align-items: center;
}

.state-item {
  width: 150px;
  text-align: center;


  a {
    color: black;
    text-decoration: none;
    font-size: 18px;
  }
}

.ticket-title {
  width: 200px;
}


.ticket-card {
  min-height: 100px;
  display:flex;
  align-items:center;
  justify-content:space-between;
  border: solid 1px;
  padding-left: 50px;
  padding-right: 50px;
  a{
    color: black;


  }
}
