<div class="container">
  <div class="row">
    <div class="col-xs-6 col-sm-offset-3">
      <div class="reviews-form">
        <h3 class="center">Add a review</h3>
	       <%= simple_form_for [@ticket, @review] do |f| %>
	       <%= f.input :description %>
	       <%= f.input :rating %>
	       <div class="button">
            <%= f.submit "Your ticket", class: "btn btn-primary" %>
            </div>
	       <% end %>
      </div>
    </div>
  </div>
</div>
