<h1>Reviews#new</h1>
<div class="container">
	<%= simple_form_for [@ticket, @review] do |f| %>
	  <%= f.input :description %>
	  <%= f.input :rating %>
	  <%= f.submit "add a review", class: "btn btn-primary" %>
	<% end %>
</div>